@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,700,400italic,700italic);
body{
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight:400 !important;
    font-size:15px !important;

}

.header-intro{
    padding-top:200px;
    text-align:center;
}

.header-intro h2{
    width:70%;
    margin:auto;
}
header{
    background:url("http://blackrockdigital.github.io/startbootstrap-landing-page/img/intro-bg.jpg") no-repeat center center;
    text-align: center;
    color: #f8f8f8;
    background-size: cover;
    height:650px;
}

.logo{
    font-size:40px;
    color:red !important;
    text-shadow: hoff voff blur #000;
}

footer{
    background:#333;
    color: white;
    height: 100px;
    padding: 40px;
}
.container{
    min-height:700px !important;
}

nav{
    top:25px;
    background: transparent !important;
    border: 0 !important;
}

nav a{
    color:white !important;
}
nav a:hover{
    color:red !important;
    text-decoration: underline;
}

nav ul{
    float:right !important;
}

.home-container{
    width:100% !important;
    padding:0px;
    text-align:center;
}

.container-div1{
    background:lightgrey;
    height:400px;
    width:100%;
    padding-top: 130px;
    border-top:1px solid #e7e7e7;
}
.container-div2{

    background:#1A90BC;
    height:400px;
    width:100%;
    padding-top: 130px;
    border-top:1px solid #e7e7e7;
}

.container-div1 h1, .container-div2 h1{
    width:60%;
    margin:auto;
}


.authentication-header{
    height:300px;
    background:none;
}

.login .navbar{
    top:0px;
    background: #f8f8f8 !important;
    border: 1px solid #e7e7e7 !important;
}

.login .navbar a{
    color:grey !important;
}
.login .navbar a:hover{
    color:lightgrey !important;
    text-decoration: underline;
}

.login .navbar ul{
    padding-right:135px !important;
}
.before-nav{
    background:#1A90BC;
    height:100px;
}

.login .logo{
    color:white !important;
}